{% extends 'base/base.html' %}
{% load static %}



{% block content %}



<div class="container py-5">
    <div class="row">



    <!-- if tablet, dont display this, with profile -->
    <div class="col-xl-2  col-md-3 menu-dashboard profile">
        <!-- منو -->
         <ul class="nav flex-column ">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/profile/' %}fs-5 text-success{% endif %}" href="{% url 'accounts:profile' %}">ویرایش اطلاعات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/interests/' %}fs-5 text-success{% endif %}" href="{% url 'accounts:interests' %}">علاقه مندی ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/reserve/view/' %}fs-5 text-success{% endif %}" href="{% url 'reservations:reserves_view' %}">وضعیت رزروها</a>
            </li>
            {% if request.user.profile.owner == True %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/my_lodges_list/' %}fs-5 text-success{% endif %}" href="{% url 'accounts:my_lodges_list' %}">اقامتگاه های من</a>
            </li>
            {% endif %}
        </ul>
    </div>


    
    <div class="d-flex justify-content-center col-xl-10 col-md-9">
        <div>
        {% block dashboard_content %}
        {% endblock %}
        </div>
    </div>
    
    </div>
</div>

{% endblock %}
