{% extends 'base/base.html' %}
{% load static %}



{% block content %}


<div class="container py-5">
    <div class="row">

    <aside class="col-xl-2 col-sm-3 col-12 menu-dashboard">
        <!-- منو -->
         <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile' %}">ویرایش اطلاعات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:interests' %}">علاقه مندی ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reservations:reserves_view' %}">وضعیت رزروها</a>
            </li>
            {% if request.user.profile.owner == True %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:my_lodges_list' %}">اقامتگاه های من</a>
            </li>
            {% endif %}
        </ul>
    </aside>
    

    
    <div class="d-flex justify-content-center col-xl-10 col-sm-9">
        <div>
        {% block dashboard_content %}
        {% endblock %}
        </div>
    </div>
    
    </div>
</div>

{% endblock %}
