{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}سامانه رزرو اقامتگاه{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

    {% include 'base/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'base/footer.html' %}

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>