{% load static %}


<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #198754"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">
              درباره ما
            </h5>
            <p>
                ما ب                    ستری برای جستجو و رزرو آسان اقامتگاه‌های بوم‌گردی فراهم کرده‌ایم تا گردشگران بتوانند متناسب با علایق و نیازهای خود، اقامتگاه مناسبشان را پیدا و رزرو کنند. هدف ما، ساده‌تر کردن تجربه سفر و کمک به انتخاب بهتر اقامتگاه است.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->


          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">
              لینک های مفید
            </h5>
            <p>
              <a class="text-white">قوانین و مقررات</a>
            </p>
            <p>
              <a class="text-white">راهنمای سایت</a>
            </p>
            <p>
              <a class="text-white">ثبت نام میزبان</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">تماس با ما</h5>
            <p><i class="fa fa-map-marker"></i> ایران, مازندران, کلاردشت </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-fax"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                 >MDBootstrap.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fa fa-facebook" aria-hidden="true"></i></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fa fa-google" aria-hidden="true"></i></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
















<!-- <footer class="footer">

    <div class="footer-container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-center">
                <div class="footer-about" id="about">
                    <h3>درباره ی ما : </h3>
                    <p>
                      ما ب                    ستری برای جستجو و رزرو آسان اقامتگاه‌های بوم‌گردی فراهم کرده‌ایم تا گردشگران بتوانند متناسب با علایق و نیازهای خود، اقامتگاه مناسبشان را پیدا و رزرو کنند. هدف ما، ساده‌تر کردن تجربه سفر و کمک به انتخاب بهتر اقامتگاه است.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-center">
                <div class="footer-links">

                    <h3>خدمات:</h3>

                    <ul>
                        <li>
                            <a href="#">
                               قوانین و مقررات
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                راهنمای سایت
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                ثبت نام میزبان اقامتگاه
                            </a>
                        </li>
                    </ul>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-center">
            <div class="footer-contact">

                <h3>ارتباط با ما</h3>

                <p>
                ایمیل: info@example.com
                </p>

            <p>
                تلفن: ۰۹۱۲xxxxxxx
            </p>

            </div>
        </div>
        </div>
    </div>


    <div class="footer-bottom">

        <p>
            © تمامی حقوق این سامانه محفوظ است.
        </p>

    </div>


</footer> -->