{% load static %}
<header class="header">

    <nav class="navbar">


        <!-- بخش راست -->
        <div class="nav-right">

            <a href="#" class="logo">
                بوم‌گردی
            </a>


            <ul class="nav-links">

                <li>
                    <a href="{% url 'home' %}">خانه</a>
                </li>

                <li>
                    <a href="{% url 'lodges:lodges_list_view' %}">اقامتگاه‌ها</a>
                </li>

                <li>
                    <a href="#">درباره ما</a>
                </li>

            </ul>

        </div>



        <!-- بخش چپ -->
        <div class="nav-left">


            <form class="search-box" action="#" method="get">

                <input 
                    type="text" 
                    placeholder="جستجوی اقامتگاه..."
                >

                <button>
                    جستجو
                </button>

            </form>


            
            <div class="auth-links">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}">خروج</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">ورود</a>
                    <a href="{% url 'accounts:register' %}">عضویت</a>
                {% endif %}
            </div>
            

        </div>


    </nav>

</header>

<main>
        <section class="hero">
            <!-- عکس، عنوان، سرچ -->
        </section>

        <section class="lodges">
            <!-- کارت اقامتگاه‌ها -->
        </section>
    </main>