{% load static %}
<header class="header">

    <nav class="navbar navbar-expand-lg bg-white navbar-light ">

    <div class="container">

        <!-- لوگو -->
        <a href="#" class="navbar-brand">
            بوم‌گردی
        </a>

        <!-- دکمه ی موبایل -->
        <button class="navbar-toggler me-auto"  type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar">

        <!-- بخش راست -->
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}fs-5 text-success{% endif %}" href="{% url 'home' %}">خانه</a>
            </li>

            <li class="nav-item">
                <a li class="nav-link {% if request.path == '/lodges/' %}fs-5 text-success{% endif %}" href="{% url 'lodges:lodges_list_view' %}">اقامتگاه‌ها</a>
            </li>

            <li class="nav-item">
                <a li class="nav-link" href="#about">درباره ما</a>
            </li>

        </ul>

        </div>



        <!-- بخش چپ -->
        <div >
            
            <div class="ms-auto d-flex  align-items-center gap-2">
                {% if request.user.is_authenticated %}
                    <!-- if tablet, display dropdown profile in navbar -->
                    <div class="dropdown header-profile">
                <a href="{% url 'accounts:profile' %}" class="btn btn-success btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">پروفایل</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if request.path == '/dashboard/profile/' %}fw-bold text-success{% endif %}" href="{% url 'accounts:profile' %}">ویرایش اطلاعات</a></li>
                        <li><a class="dropdown-item {% if request.path == '/dashboard/interests/' %}fw-bold text-success{% endif %}" href="{% url 'accounts:interests' %}">علاقه مندی ها</a></li>
                        <li><a class="dropdown-item {% if request.path == '/reserve/view/' %}fw-bold text-success{% endif %}" href="{% url 'reservations:reserves_view' %}">وضعیت رزروها</a></li>
                        {% if request.user.profile.owner == True %}
                        <li><a class="dropdown-item {% if request.path == '/dashboard/my_lodges_list/' %}fw-bold text-success{% endif %}" href="{% url 'accounts:my_lodges_list' %}">اقامتگاه های من</a></li>
                        {% endif %}
                    </ul>
                    </div>
                    <!-- else -->
                    <a href="{% url 'accounts:profile' %}" class="btn btn-success profile">پروفایل</a>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-success">خروج</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-success">ورود</a>
                    <a href="{% url 'accounts:register' %}" class="btn btn-success">عضویت</a>
                {% endif %}
            </div>
            

        </div>

        </div>



    </nav>

</header>
