{% extends 'base/base.html' %}
{% load static %}

{% block content %}



<div class="container">


<div class="row">

  <div class="col py-5">


<div id="carousel" class="carousel slide" data-bs-ride="carousel">

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    {% for image in lodge.images.all %}
        <div class="carousel-item active">
            <img src="{{ image.image.url }}" alt="{{ lodge.title }}" class="d-block" />
        </div>
    {% endfor %}
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

</div>




<div class="col py-5">

<h3>نام اقامتگاه: {{ lodge.title }}</h3>
<p>توضیحات: {{ lodge.description }}</p>
<p>استان: {{ lodge.province}}</p>
<p>شهر: {{ lodge.city}}</p>
<p>آدرس کامل: {{ lodge.address }}</p>
<p>ظرفیت اقامتگاه: {{ lodge.capacity}}</p>
<p>قیمت به ازای هر شب: {{ lodge.price}}</p>


<hr>
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'reservations:reserve' lodge.id %}"  onsubmit="return testSubmit(event);">
    {% csrf_token %}

    <label for="guest_count" class="form-label">
        تعداد گردشگران
    </label>

    <input
        type="text"
        id="guest_count"
        name="guest_count"
        required
    >

<div class="mb-3">

    <label for="check_in_display" class="form-label">
        تاریخ ورود
    </label>

    <!-- چیزی که کاربر می‌بیند -->
    <input
        type="text"
        id="check_in_display"
        class="form-control"
        placeholder="تاریخ ورود را انتخاب کنید"
        autocomplete="off"
        readonly
        required
    >

    <!-- چیزی که به Django ارسال می‌شود -->
    <input
        type="hidden"
        id="check_in"
        name="check_in"
    >

</div>


<div class="mb-3">

    <label for="check_out_display" class="form-label">
        تاریخ خروج
    </label>

    <!-- چیزی که کاربر می‌بیند -->
    <input
        type="text"
        id="check_out_display"
        class="form-control"
        placeholder="تاریخ خروج را انتخاب کنید"
        autocomplete="off"
        readonly
        required
    >

    <!-- چیزی که به Django ارسال می‌شود -->
    <input
        type="hidden"
        id="check_out"
        name="check_out"
    >

</div>

    <button type="submit" class="btn btn-success">
        رزرو اقامتگاه
    </button>

</form>

{% else%}
<p>برای رزرو کردن باید در سایت وارد شوید.</p>
{% endif %}

</div>

</div>

</div>
{% endblock %}



{% block extra_js %}

<script>

const checkInPicker = new mds.MdsPersianDateTimePicker(
    document.getElementById("check_in_display"),
    {
        isGregorian: false,
        targetDateSelector: "#check_in",
        textFormat: "yyyy/MM/dd",
        dateFormat: "yyyy/MM/dd",
        disableBeforeToday: true,
        persianNumber: false
    }
);


const checkOutPicker = new mds.MdsPersianDateTimePicker(
    document.getElementById("check_out_display"),
    {
        isGregorian: false,
        targetDateSelector: "#check_out",
        textFormat: "yyyy/MM/dd",
        dateFormat: "yyyy/MM/dd",
        disableBeforeToday: true,
        persianNumber: false
    }
);

</script>

{% endblock %}