{% extends 'base/base.html' %}
{% load static %}
{% load jalali_tags %}

{% block title %}
{{ block.super }} | اقامتگاه ها
{% endblock %}


{% block content %}



<section class="container py-5">

    <div class="row g-4">

        <div class="col-lg-3 col-md-4">
            

            <form action="{% url 'lodges:lodges_list_view' %}">
                <input type="text" id="q" name="q" class="form-control border-success" placeholder="جستجو نام یا توضیحات اقامتگاه">
    
                <select name="province" id="province" class="form-select form-control border-success">
                    <option value="">
                        همه استان ها
                    </option>
                    {% for province in provinces %}
                    <option value="{{ province }}" {% if request.GET.province == province %} selected {% endif %}>
                        {{ province }}
                    </option>
                    {% endfor %}
                </select>

                <select name="city" id="city" class="form-select form-control border-success">
                </select>

                <!-- <div>تاریخ ورود: <input type="date" name="check_in" ></div>
                <div>تاریخ خروج: <input type="date" name="check_out" ></div> -->
<div class="mb-3">


    <input
        type="text"
        id="check_in_display"
        class="form-control"
        placeholder="تاریخ ورود را انتخاب کنید"
        autocomplete="off"
        readonly
    >

    <input
        type="hidden"
        id="check_in"
        name="check_in"
        value="{{ request.GET.check_in }}"
    >
</div>


<div class="mb-3">

    <input
        type="text"
        id="check_out_display"
        class="form-control"
        placeholder="تاریخ خروج را انتخاب کنید"
        autocomplete="off"
        readonly
    >

    <input
        type="hidden"
        id="check_out"
        name="check_out"
        value="{{ request.GET.check_out }}"
    >
</div>


                <input type="number" min="1" name="guest_count" class="form-control" placeholder="تعداد مسافران">

                <input type="number" min="0" name="price" class="form-control" placeholder="حداکثر قیمت هر شب">

                <button type="submit" class="btn btn-success">جستجو</button>
            </form>

        </div>

        <div class="col-lg-9 col-md-8">

            <div class="row g-4">
        
        {% if lodges.count == 0 %}
        <p style="color:red;">نتیجه ای یافت نشد</p>
        {% endif %}
        {% for lodge in lodges %} 
        
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-center">

                <div class="lodge-card-wrapper">

                    {% include 'lodge_card.html' %}

                </div>

            </div>

        {% endfor %}
            </div>
        
            
        <div class="row py-4">

            {% include 'component/pagination.html' %}  

        </div>
    </div>

</section> 



{% endblock %}


{% block extra_js %}
<script>
    

const checkInPicker = new mds.MdsPersianDateTimePicker(
    document.getElementById("check_in_display"),
    {
        isGregorian: false,
        targetDateSelector: "#check_in",
        textFormat: "yyyy/MM/dd",
        dateFormat: "yyyy/MM/dd",
        disableBeforeToday: true,
        persianNumber: false
    }
);


const checkOutPicker = new mds.MdsPersianDateTimePicker(
    document.getElementById("check_out_display"),
    {
        isGregorian: false,
        targetDateSelector: "#check_out",
        textFormat: "yyyy/MM/dd",
        dateFormat: "yyyy/MM/dd",
        disableBeforeToday: true,
        persianNumber: false
    }
);



// const checkInDisplay = document.getElementById("check_in_display");
// const checkInHidden = document.getElementById("check_in");

// checkInHidden.addEventListener("change", function () {
//     checkInDisplay.value = this.value;
// });



</script>
{% endblock %}