
    <div class="card lodge-card h-100">

        <img src="{{ lodge.images.first.image.url }}"
             class="card-img-top"
             alt="{{ lodge.title }}">

        <div class="card-body d-flex flex-column">

            <h5 class="card-title">{{ lodge.title }}</h5>

            <p class="card-text text-muted">
                {{ lodge.province }}, {{ lodge.city }}
            </p>

            <p class="card-text">
                ظرفیت: {{ lodge.capacity }} نفر
            </p>

            <h6 class="text-success mt-auto">
                 هر شب {{ lodge.price }} تومان
            </h6>

            <a href="{{ lodge.lodge_url }}"
               class="btn btn-success w-100 mt-3">
                مشاهده
            </a>

        </div>

    </div>

