<ul class="pagination pagination-lg justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        </li>
    {% endif %}
                        
    {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <li class="page-item active">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
                            
        <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page_obj.next_page_number }}">بعدی</a>
        </li>
    {% endif %}
                   
</ul>
