{% extends "dashboard/base_dashboard.html" %}
{% load jalali_tags %}


{% block dashboard_content %}



<div>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>نام اقامتگاه</th>
            <th>تاریخ ورود</th>
            <th>تاریخ خروج</th>
            <th>تعداد</th>
            <th>جمع هزینه</th>
            <th>وضعیت رزرو</th>
            <th>لغو</th>
        </tr>
    {% for reserve in reserves %}
        <tr>
            <th>{{ reserve.lodge }}</th>
            <th> {{ reserve.check_in|jalali_date }}</th>
            <th> {{ reserve.check_out|jalali_date }}</th>
            <th> {{ reserve.guest_count }}</th>
            <th> {{ reserve.total_price }}</th>
            {% if reserve.status %}
            <th><i class="fa fa-check" aria-hidden="true" style="color:green"></i></th>
            {% else %}
            <th><i class="fa fa-close" style="color:red"></i></th>
            {% endif %}
            <th><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal{{ reserve.id }}">لغو رزرو</button></th>
        </tr>

        <!-- The Modal -->
<div class="modal" id="cancelModal{{ reserve.id }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">لغو رزرو</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        آیا میخواهید رزرو اقامتگاه "{{ reserve.lodge }}" را لغو نمایید؟
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="{% url 'reservations:cancel_reserve' reserve.id %}" class="btn btn-danger">بله</a>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">خیر</button>
      </div>

    </div>
  </div>
</div>

    {% endfor %}
    </table>
</div>


<div class="row">

    {% include 'component/pagination.html' %}  

</div>

{% endblock %}